/Jahrgang_5/CSharp/CSharp-Tutorial/CSharp-Tutorial.tex
/Jahrgang_5/CSharp/CSharp-Tutorial/auto/
/Jahrgang_5/Angewandte_Mathematik/Normalverteilung/Mathematik-Normalverteilung.out
/Jahrgang_5/Angewandte_Mathematik/Normalverteilung/Mathematik-Normalverteilung.log
/Jahrgang_5/Angewandte_Mathematik/Normalverteilung/Mathematik-Normalverteilung.aux
/Jahrgang_5/Angewandte_Mathematik/Normalverteilung/auto/
/Jahrgang_5/Betriebliche Organisation/Unternehmensrechtsformen/Unternehmensrechtsformen-Praesentation.tex
/Jahrgang_5/Betriebliche Organisation/Unternehmensrechtsformen/Unternehmensrechtsformen.lof
/Jahrgang_5/Betriebliche Organisation/Unternehmensrechtsformen/Unternehmensrechtsformen.tex
/Jahrgang_5/Betriebliche Organisation/Unternehmensrechtsformen/auto/
