@************************************************************************
 * Copyright (C) 2015 Richard Bäck <richard.baeck@openmailbox.org>
 *
 * This file is part of assets-cli.
 *
 * assets-cli is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * assets-cli is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with assets-cli.  If not, see <http://www.gnu.org/licenses/>.
 ***********************************************************************@

@Scripts.Render("~/bundles/music")

<h2>Interpreterlist</h2>

<div>
    <label>Interpreters</label>
    <select id="selInterpreter"></select>
</div>

<div style="float:left; width:400px; min-height: 300px">
    <table id="tableSongs">
        <thead>
            <tr>
                <th>
                    Name
                </th>
                <th>
                    Duration
                </th>
            </tr>
        </thead>
    </table>
</div>

<div>
    <div>
        <label>Name</label>
        <input id="name" type="text" />
    </div>
   <div>
        <label>Duration</label>
        <input id="duration" type="text" />
    </div>
    <input id="saveButton" type="button" value="Save" />
</div>

